<server description="AMT Liberty server">
    <featureManager>
        <feature>webProfile-8.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>

    <webApplication location="amt-project-1.war" contextRoot="/"/>

    <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

    <library id="MySqlLib">
        <fileset dir="${server.config.dir}" includes="*.jar"/>
    </library>

    <dataSource jndiName="jdbc/StackOverFlowDS">
        <jdbcDriver libraryRef="MySqlLib"/>
        <propreties databaseName="codemad"
                  serverName="codemad-db" portNumber="3306"
                  user="codemad-mdus" password="codemad-mdpw"/>
    </dataSource>
</server>
