<server description="AMT Liberty server">
    <featureManager>
        <feature>webProfile-8.0</feature>
        <!--Enable the following features to run tests with Arquillian managed container-->
        <feature>localConnector-1.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>

    <applicationMonitor updateTrigger="mbean"/>

    <webApplication location="amt-project-1.war" contextRoot="/"/>

    <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

    <library id="MySqlLib">
        <fileset dir="${server.config.dir}" includes="*.jar"/>
    </library>

    <dataSource jndiName="jdbc/StackOverFlowDS">
        <jdbcDriver libraryRef="MySqlLib"/>
        <properties databaseName="codemad"
                    serverName="10.113.102.154" portNumber="3306"
                    user="root" password="amt2"/>
    </dataSource>

    <jndiEntry jndiName="gamification/apikey" value="86c91f9e-d4fb-4ee8-9c63-c6beb6fa0a3b"/>
    <jndiEntry jndiName="gamification/auth" value="http://localhost:8080/auth"/>
    <jndiEntry jndiName="gamification/badges" value="http://localhost:8080/badges"/>
    <jndiEntry jndiName="gamification/events" value="http://localhost:8080/events"/>
    <jndiEntry jndiName="gamification/ladders" value="http://localhost:8080/ladders"/>
    <jndiEntry jndiName="gamification/registrations" value="http://localhost:8080/registrations"/>
    <jndiEntry jndiName="gamification/rules" value="http://localhost:8080/rules"/>
    <jndiEntry jndiName="gamification/users" value="http://localhost:8080/users"/>
</server>
